<!DOCTYPE html>
<html>
<head>
    <title>Smart Dom</title>
</head>
<body>
    <h1>Zarządzanie smart domem</h1>
    <form method="post">

        <div>
            <p>Światło: </p>
            <button type="submit" name="device" value="light">Przełącz</button>
        </div>
        <div>
            <p>Kamera:</p>
            <button type="submit" name="device" value="camera">Przełącz</button>
        </div>
        <div>
            <p>Temperatura: </p>
        </div>
    </form>
</body>
</html>
